<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="static/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <input type="text" id="search" name="search" placeholder="Buscar productos, marcas"><br>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
       
        <p class="title_1"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="#" class="link">Ofertas</a></li>
                <li><a href="#" class="link">Tiendas Oficiales</a></li>
                <li><a href="#" class="link">Vender</a></li>
                <li><a href="#" class="link">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register" class="link">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login" class="link">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#" class="link">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <img src="static/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
    </section>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <!--iconito de camión-->
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <!--iconito de camión-->
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                class="product_img">
            <!--iconito de camión-->
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Teléfono móvil Samsung Galaxy S10</h4>
            <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <!--iconito de camión-->
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
        <section>
            <h3>Ofertas</h3>
            <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <!--iconito de camión-->
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <!--iconito de camión-->
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                class="product_img">
            <!--iconito de camión-->
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Teléfono móvil Samsung Galaxy S10</h4>
            <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <!--iconito de camión-->
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>