:root {
    --amarillo: #EAC926;
    --azul: 03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    --black: #000;
    --white: #fff;

    --background-btn: #0044AA;

    --font-family: 'Roboto', sans-serif;
    --size-cuerpo: 12px;
    --size-titulares: 24px;
    --size-precios: 18px;
    --size-descuentos: 16px;
    --size-descripcion: 16px;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--font-family);
    background-color: var(--gris-claro);
}

/*header*/
header{
    background-color: var(--amarillo);
}

div.top-header{
    padding: 5%;
}
header div.logo{
    padding: 10px;
    width: 50%;
}
header .form .input{
    background-color: var(--white);
    border: 1px solid var(--black);
    outline: none;
    color: var(--gris-oscuro);
    padding: 2px;
}
header .form .submit{
    background-color: var(--white);
    border: 1px solid var(--back);
    color: var(--gris-oscuro);
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
p{
    font-size: 12px;
}
h3{
    font-size: 24px;
}

header nav{
    font-size: 12px;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    color: var(--black);
    text-decoration: none; 
}



div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: var(--background-btn);
    border-radius: 5px;
    color: var(--white);
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

section.banner img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 90%;
}
main section article{
    background-color: var(--white);
}
main section article img{
    width: 100%;
}
main section article i,
.discount{
    color: var(--verde);
}
article div.main-article{
    width: 100%;
}
.price{
    font-size: 18px;
}
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
h3,
.description{
    color: var(--gris-oscuro);
}






  
  
  